apiVersion: v1
kind: Pod
metadata:
  name: mlflow-server
  namespace: argo
  labels:
    app: mlflow
spec:
  containers:
  - name: mlflow
    # CHANGE THIS: Use your own image
    image: alinnlw/fruit-app:v2
    # Important: Since it's local, tell K8s not to try downloading it
    imagePullPolicy: IfNotPresent
    command: ["mlflow", "server", "--host", "0.0.0.0"]
    ports:
    - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
  namespace: argo
spec:
  selector:
    app: mlflow
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000